$bg: #0e5454;
$bg-2: #0c3a3a;
$panel: #133d3d;
$panel-2: #0d2e2e;
$accent: #1fbfb8;
$text: #e4f1f1;
$text-dim: #bcd7d7;
$border: rgba(255,255,255,.08);
$container-max: 1280px;
$logo-width: 64px;
$bg: #0e4a46;
$bar: #0f4b47;
$ring: #1f5b57;
$btn: #2a7e78;
$btn-hover: #339189;
$text: #eaf6f4;

$bg:        #0e4a46;
$bar:       #0f4b47; 
$bar-line:  #0d423f; 
$ring:      #1f5b57; 
$btn:       #2a7e78;
$btn-hover: #339189;
$text:      #eaf6f4;
